**/*

!*
dist
ci
node_modules
.idea/dictionaries
.idea/tasks.xml
.idea/workspace.xml
.idea/usage.statistics.xml

!public
!public/**/*

!src
!src/**/*
src/**/*.js

!tests
!tests/**/*
tests/**/*.js
env
