/*Allows for Full Scale background*/
body, html{
    height : 100%;
}

/*Accesses the Start Screen*/
#StartScreen{
    height : 100%;

    /*Centers the image and does not allow it to repeat*/
    background: no-repeat center;
    background-size: cover;

    /*Centers the image along the horizontal*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Not entirely sure what this does, but it's necessary*/
button{
    position:absolute;
}

/*Sets the Start Button's Position*/
#START{
    top:15%;
    left: 50%;
}

/*Sets the Account Button's Position*/
#ACCOUNT{
    top:20%;
    left: 48.6%;
}